<!DOCTYPE html>
<html>
  <head>
    <title>My Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="title-bar">
      <h1>I LoVe GrApHiC dEsIgN</h1>
      <a class="book-index-link" href="/books">All Books</a>
    </div>
  <%= yield %>
  </body>
</html>
